.hero-section{
  position: relative;

  .video-container{
    width:100%;
    position: absolute;
    z-index:1;

    @include media-breakpoint-down(md){
      position:relative;
    }

    .video-wrapper{
      width:100%;
      padding-top:47%;
      position: relative;

      @include media-breakpoint-down(md){
        padding-top:80%;
      }
      @include media-breakpoint-down(sm){
        padding-top:100%;
      }

      .video-bg, video{
        position:absolute;
        top:0;
        width:110%;
        left:-5%;
        height:100%;
        background:url(../videos/hero-bg.png) no-repeat scroll center center transparent;
        z-index:0;
        background-size:contain;

        @include media-breakpoint-down(md){
          width:200%;
          left:-50%;
        }
        @include media-breakpoint-down(sm){
          width:250%;
          left:-90%;
        }
      }
    }
  }

  .container{
    padding:200px 20px 140px;

    @include media-breakpoint-down(xxl){
      padding:170px 20px 120px;
    }
    @include media-breakpoint-down(md){
      padding:0 10px 70px;
      margin-top:-35%;
    }
  }

  .text-box{
    max-width:435px;
    margin-top:25px;
    margin-bottom:30px;

    @include media-breakpoint-down(md){
      max-width:unset;
      margin-top:20px;
      margin-bottom:20px;
    }
  }
}
