.hero-section{
  position: relative;

  .video-container{
    width:100%;
    position: absolute;
    z-index:1;

    .video-wrapper{
      width:100%;
      padding-top:40%;
      position: relative;
    }

    video{
      width:100%;
      position: absolute;
      top:0;
    }
  }

  .container{
    padding:200px 10px 140px;

    @include media-breakpoint-down(xxl){
      padding:140px 10px 100px;
    }
  }

  .text-box{
    max-width:435px;
    margin-top:25px;
    margin-bottom:30px;

    @include media-breakpoint-down(md){
      max-width:unset;
    }
  }
}
