.services-section{
  padding-top:110px;
  position:relative;

  .section-bg{
    background:url(../images/services-bg.png) no-repeat scroll left bottom transparent;
    background-size:100%;
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:0;
  }

  .service{
    position:relative;

    .inner{
      background: rgba(0,0,0,0.15);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      padding:0 50px 50px;
      border-radius:20px;
      position: relative;
      z-index:1;
    }

    &.cosmosation{
      padding-right:18px;
      &:before{
        width:206px;
        height:206px;
        position:absolute;
        left:20px;
        top:-103px;
        content:'';
        background:url(../images/cosmosation.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:0;
      }
      &:after{
        width:206px;
        height:206px;
        position:absolute;
        left:20px;
        top:-103px;
        content:'';
        background:url(../images/cosmosation.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:2;
      }

      .inner{
        padding-top:128px;
      }
    }

    &.staking-juno{
      padding-left:18px;
      margin-top:120px;

      &:before{
        width:230px;
        height:268px;
        position:absolute;
        left:0;
        top:-145px;
        content:'';
        background:url(../images/staking-juno.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:0;
      }
      &:after{
        width:230px;
        height:268px;
        position:absolute;
        left:0;
        top:-145px;
        content:'';
        background:url(../images/staking-juno.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:2;
      }

      .inner{
        padding-top:150px;
      }
    }

    &.keplr-wallet{
      padding-right:18px;
      margin-top:165px;

      &:before{
        width:200px;
        height:200px;
        position:absolute;
        left:20px;
        top:-100px;
        content:'';
        background:url(../images/keplr-wallet.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:0;
      }
      &:after{
        width:200px;
        height:200px;
        position:absolute;
        left:20px;
        top:-100px;
        content:'';
        background:url(../images/keplr-wallet.png) no-repeat scroll center center transparent;
        background-size:contain;
        z-index:2;
      }

      .inner{
        padding-top:125px;
      }
    }

    .title{
      font-family: $dm;
      font-size: 42px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 38px;
      margin-bottom:40px;
    }

    .image{
      @include transform(translateY(-50%));
      margin-bottom:-90px;
    }
  }

  .junoswap{
    margin-top:200px;
    position:relative;

    .junoswap-graph{
      position:absolute;
      width:auto;
      right:0;
      top:50%;
      @include transform(translateY(-50%) translateX(25%));
      z-index:0;
    }

    .junoswap-box{
      background: rgba(0,0,0,0.15);
      padding:50px 40px;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      max-width:440px;
      border-radius: 22px;
      font-size: 19px;
      color: #FFFFFF;
      letter-spacing: 0.36px;
      line-height: 23px;
      margin-top:100px;

      .button-white{
        display:block;
        width:100%;
      }
    }
  }

  .contributors{
    margin-top:130px;

    .contributor{
      .name{
        font-family: $dm;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom:5px;
      }

      .title{
        font-family: $gv;
        font-weight:normal;
        font-size: 14px;
        color: #E9D6D6;
        letter-spacing: 0.26px;
        line-height: 23px;
      }

      .twitter{
        margin-top:8px;
      }
    }
  }

  .piechart{
    padding-top:130px;

    .video-container{
      width:100%;

      .video-wrapper{
        padding-top:86%;
        width:100%;
        position: relative;

        video{
          position:absolute;
          right:0;
          width:100%;
          top:0;
        }
      }
    }

    .black-box{
      background: rgba(0,0,0,0.15);
      border-radius:20px;
      padding:25px 30px;
      margin-top:25px;

      ul{
        margin:0;
        padding:0;
        list-style:none;

        li{
          position:relative;
          font-family: $gv;
          font-weight:500;
          font-size: 17px;
          color: #E9D6D6;
          letter-spacing: 0.32px;
          line-height: 23px;
          padding:10px 0 10px 28px;

          &:before{
            content:'';
            background:url(../images/SVG/checkmark.svg) no-repeat scroll center left;
            width:10px;
            height:7px;
            position:absolute;
            left:0;
            top:17px;
          }
        }
      }
    }
  }
}
