@import "reset";
@import "config";

@import "~bootstrap/scss/bootstrap";

@import "mixins";
@import "fonts";
@import "variables";
@import "typo";
@import "buttons";

@import "components/header";
@import "components/footer";

@import "sections/hero-section";
@import "sections/ecosystem-section";
@import "sections/hacks-section";
@import "sections/services-section";

body{
  background:$bgColor;
  font-family: $gv;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
  line-height: 20px;
}

main{
  max-width:1920px;
  margin:auto;
  position:relative;
}

section{
  .container{
    max-width:1160px;
    width:100%;
    margin:auto;
    position: relative;
    z-index:1;
  }
}

// CAROUSEL ARROWS
.react-multiple-carousel__arrow{
  padding:0;
  background-color: rgba(240,130,125,0.10);
  border-radius: 50%;
  transition:500ms all ease-in-out;

  &:hover{
    background-color: #F0827D;
  }

  &:before{
    font-size:15px;
    font-family: 'juno';
  }

  &.react-multiple-carousel__arrow--left{
    &:before{
      content: "\e906";
    }
  }
  &.react-multiple-carousel__arrow--right{
    &:before{
      content: "\e905";
    }
  }
}
